.banner {
    display: flex;
    overflow-x: auto;
    width: 95%;
    border-radius: 16px;
    margin: auto;
    min-height: 831px;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.banner-image {
    width: auto;
    height: 831px;
    object-fit: cover;
}

.switch-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f0f0f077;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}

.switch-point:hover {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.here {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
}


@media (max-width: 1440px) {
    .banner-image {
    height: auto;
    object-fit: cover;
}
}