@use "../../_variables.scss" as base;

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    background-color: base.$defaultPink;
    color: base.$defaultWhite;
}

.footer-title {
    font-size: 144px;
    font-weight: bold;
    margin: 30px auto;
    font-family: "Franxurter", base.$defaultFonts;
    text-align: center;
}

.footer-socials {
    margin: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.footer-navigation {
    width: 30%;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    .footer-nav-section,
    ul {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0;
        list-style: none;
    }
    
    .footer-nav-item {
        margin: 8px 0;
        cursor: pointer;
    }
}

.icon-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: base.$defaultWhite;
    border-radius: 50%;
    padding: 6px 7px;
}

.hours {
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid base.$defaultWhite;
}

.links:hover{
    text-decoration: underline;
}