@use "../../_variables" as base;

.product-wrapper {
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product-image {
    width: 700px;
    height: 800px;
}

.details {
    width: 600px;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px
}

.accordeon {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordeon-item-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.accordeon-item-content-open {
    width: 600px;
    animation: Open 1s ease;
    max-height: 300px;
    display: block;
}

.accordeon-item-content-closed {
    width: 600px;
    animation: Close 0.5s ease;
    display: none;
    overflow: hidden;
}

.suggested {
    height: auto;
    margin: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    --webkit-scrollbar: {
        display: none;
    }
}

.suggested-card-img {
    width: 300px;
    height: auto;
    object-fit: cover;
}
.suggested-wrapper {
    position: relative;
}

.suggested-scroll {
    position: absolute;
    width: 100px;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
    
    &:hover {
    background-color: #4e4d4d6c;
    cursor: pointer;
    color: base.$defaultWhite;
    }
}

.back {
    left: 0;
}

.forward {
    right: 0;
}

@keyframes Open {
    0% {
        max-height: 0;
        display: none;
        overflow: hidden;
    }
    100% {
        max-height: 300px;
        display: block;
        overflow: hidden;
    }
}

@keyframes Close {
    0% {
        max-height: 300px;
        display: block;
    }
    100% {
        max-height: 0;
        display: none;
    }
}
