$bgcolor: rgb(251, 92, 240);
$hoverColor: rgb(0, 225, 255);
$defaultWhite: #ffffff;
$defaultBlack: #201f1f;
$bgColorFooter: #2c2b2b;
$defaultPink: #d6007d;


$defaultFonts: 'Host Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;